.Card .onlycard {
    width: 330px;
    height: 500px;
    margin: 20px 20px 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    border: 0.5px solid rgb(134, 134, 134);
    background-color: #010a11;
    box-shadow: 1px 1px 10px rgb(140, 243, 6);
    cursor: pointer;
}
.Card .onlycard:hover {
    transform: translateY(-20px);
    box-shadow: 1px 1px 10px rgb(6, 128, 243);
}
.Card .onlycard img {
    width: 100%;
    height: 80%;
}
.Card .onlycard h3,
.Card .onlycard p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.Card .onlycard span {
    display: inline-block;
    margin-left: 5px;
    color: rgb(170, 250, 9);
    font-size: 20px;
}
.Card .onlycard .info {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cardInfo {
    width: 100%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.cardInfo .info {
    color: white;
    display: flex;
}
.pt1 {
    width: 30%;
}
.pt1 img {
    padding-top: 30px;
    height: 400px;
}
.pt2 {
    width: 70%;
    height: 100%;
    padding: 30px;
}
.pt2 iframe {
    margin-right: 20px;
    width: 100%;
    height: 100%;
}

.cardInfo button {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(170, 250, 9);
    box-sizing: border-box;
    margin-left: 90px;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
